html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: $base-fonts;
  color: #212121;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  background-color:#efefef;
}

footer {
  margin-top: auto;
}

.hidden-title {
  visibility: hidden;
  height: 0;
}